body {
    background: rgb(110, 160, 214);
    font: normal 15pt Arial;

}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px #0000005a;
}



footer {
    color: white;
    text-align: center;
    font-style: italic;


}